@page "{carID:int}"

@model CarBiding.Pages.DetailModel
@{
}

<h2>@Model.Car.Title</h2>
<div>
    Koniec Aukcji: @Model.Car.TimeAuctionEnd 
</div>
<div>
    Numer Aukcji: @Model.Car.ID
</div>
<div>
    Informacje: @Model.Car.Info
</div>

<a asp-page="./Cars" class="btn btn-light">Aukcje</a>
