@page "{carID:int}"

@model CarBiding.Pages.DetailModel
@{
}

<h2>@Model.Car.Title</h2>

<div>
    Koniec Aukcji: <br />@Model.Car.TimeAuctionEnd 
</div>

<div>
    <table>
        <tr>
            <td>Numer Aukcji2:</td>
            <td>@Model.Car.ID</td>
        </tr>
    </table>
</div>

<div>

    @foreach(String im in Model.Car.Images)
    {
    <img src=@im class="img-fluid" alt="Responsive image">
    }
</div>

<div>
    Dodatkowe Informacje: <br />@Model.Car.Info
</div>

