@page "{carID:int}"

@model CarBiding.Pages.DetailModel
@{
}

<h2 class="card-header">@Model.Car.Title</h2>

<div>
    <table class="table-primary">
        <tr>
            <td>Numer Aukcji:</td>
            <td>@Model.Car.ID</td>
        </tr>
    </table>
</div>

<div>
    <table class="table-info">
        <tr>
            <td>Koniec Aukcji:</td>
            <td>@Model.Car.TimeAuctionEnd</td>
        </tr>
    </table>
</div>

<hr />

<div>
   

    @foreach (var im in Model.Car.Images)
    {
        <img src=@im.URL class="img-fluid" alt="Responsive image">
    }

</div>

<hr />

<div>
    Dodatkowe Informacje:
    <br />
    <p class="font-weight-light">
        @Model.Car.Info
    </p>
</div>

<hr />

<div>
    <button class="btn btn-primary btn-lg btn-block" >Licytuj</button>
</div>


